asgiref==3.5.0
autopep8==1.6.0
click==8.0.4
Django==4.0.3
django-computed-property==0.3.0
django-cors-headers==3.11.0
django-filter==21.1
django-mkdocs @ git+https://github.com/dameyerdave/django-mkdocs.git@2d55f704e6be1511eec7d6fd46e665ed86bc460d
djangorestframework==3.13.1
drf-jwt==1.19.2
drf-schema-adapter==2.1.1
flake8==4.0.1
ghp-import==2.0.2
importlib-metadata==4.11.2
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.1.0
mccabe==0.6.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-include-markdown-plugin==3.3.0
mkdocs-material==8.2.4
mkdocs-material-extensions==1.0.3
packaging==21.3
Pillow==9.0.1
psycopg2==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
PyJWT==1.7.1
pymdown-extensions==9.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyyaml_env_tag==0.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
watchdog==2.1.6
zipp==3.7.0
